extends managerDashboardLayout
block content
    .container.py-5
      .d-flex.justify-content-between.align-items-center.mb-3
        h2.mb-0 User Management
        a.btn.btn-primary(href="/register-user") ➕ Add User
      .input-group.mb-3
        input#searchInput.form-control(type="text" placeholder="Search users...")

      .table-responsive
        table.table.table-striped.table-bordered.align-middle
          thead.header-row
            tr
              th #
              th Full Name
              th Username
              th Email
              th Phone
              th Role
              th Status
              th Edit
              th Delete
          tbody#userTableBody
            each user, index in users
              tr
                td #{index + 1}
                td #{user.fullName}
                td #{user.username}
                td #{user.email}
                td #{user.phone}
                td #{user.role}
                td
                  if user.status == "Active"
                    span.badge.active Active
                  else
                    span.badge.inactive Inactive
                td
                  a.btn.btn-sm.btn-info(href=`/edit-user/${user._id}`)
                    i.bi.bi-pencil-fill
                td
                  form(action=`/delete-user/${user._id}?_method=DELETE` method="POST")
                    button.btn.btn-sm.btn-danger(type="submit" onclick="return confirm('Are you sure?')")
                      i.bi.bi-trash-fill

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js")
    script(src="../js/usersDisplay.js")
